extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p We're leveraging massive weather data sets to provide finely tuned snow forecasts.  By analyzing time series weather data, we've created an incredibly reliable forecast engine to help you get the most out of your winter season.
        p We'll tell you when and where you are most likely to experience the best snow.  We'll also alert you well in advance when we detect a storm that is likely to dump heaps of pow.
    
        
        a.btn.jumbobutton.btn-lg.m-t-1(href='/register') Get Started for FREE
