extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Thank you
        p Powder Intelligence is a friendly community where winter sports enthusiasts can connect and get a live and direct look into winter weather.
        p We're currently building out our platform and we look forward to sharing it with you.  Please let us  know if there is anything specifically regarding winter weather that you are interested in learning about.
        
        a.btn.jumbobutton.btn-lg.m-t-1(href='/about') Learn More
